@page "/books"
<div class="container-fluid">
    <h1 class="card-title">
        Books
    </h1>
    <hr />
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-body">
                     <img class="img-fluid" src="/css/Images/UnityInAccion.png" style="width:350px"/>
                </div>
                <div class="card-footer">
                    <div>
                        <p><strong>This book it's about developing games in Unity with C#.</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-body">
                     <img class="img-fluid" src="/css/Images/CsharpInDepthFourthEdition.png" style="width:350px"/>
                </div>
                <div class="card-footer">
                    <div>
                         <p><strong>This book it's about C#, getting a strong and depth lerning.</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-body">
                     <img class="img-fluid" src="/css/Images/Rx.NET.png" style="width:350px"/>
                </div>
                <div class="card-footer">
                    <div>
                        <p><strong>Rx.NET it's a book to tech how to work with reactive extensions in c# and .NET</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-body">
                     <img class="img-fluid" src="/css/Images/NodeJs.png" style="width:350px"/>
                </div>
                <div class="card-footer">
                    <div>
                        <p><strong>This book give you all you need to be a pro in NodeJs.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
